body {
  font-family: Open sans, Arial, Helvetica, sans-serif;
  margin: 50px;
  background: rgb(73, 160, 157);
  background: linear-gradient(90deg, rgba(73, 160, 157, 1) 0%, rgba(95, 44, 130, 1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: rgba(95, 44, 130, 1);
}

.container {
  width: 500px;
  display: flex;
  display: inline-block;
  border-radius: 5px;
  background-color: #FFFFFF;
  padding: 10px 50px 20px 50px;
}

button {
  width: 100%;
  background: rgba(95, 44, 130, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

table {
  margin: 0 auto;
  font-size: large;
  border: none;
  width: 500px;
  background: linear-gradient(90deg, rgba(73, 160, 157, 1) 0%, rgba(95, 44, 130, 1) 100%);
  color: #FFFFFF;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

td {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
}

th,
td {
  font-weight: bold;
  border: none;
  padding: 10px;
  text-align: center;
}

td {
  font-weight: lighter;
}
